In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/pizza_sales.csv")

df

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3.0,2.0,five_cheese_l,1.0,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4.0,2.0,ital_supr_l,1.0,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5.0,2.0,mexicana_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616.0,21348.0,ckn_alfredo_m,1.0,31-12-2015,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617.0,21348.0,four_cheese_l,1.0,31-12-2015,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618.0,21348.0,napolitana_s,1.0,31-12-2015,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619.0,21349.0,mexicana_l,1.0,31-12-2015,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620.0,21350.0,bbq_ckn_s,1.0,31-12-2015,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  float64
 1   order_id           48620 non-null  float64
 2   pizza_name_id      48620 non-null  object
 3   quantity           48620 non-null  float64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: float64(5), object(7)
memory usage: 4.5+ MB

In [5]:
df.isna().sum()

pizza_id             0
order_id             0
pizza_name_id        0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [6]:
df["pizza_size"].unique()

array(['M', 'L', 'S', 'XL', 'XXL'], dtype=object)

In [7]:
df["pizza_category"].unique()

array(['Classic', 'Veggie', 'Supreme', 'Chicken'], dtype=object)

In [12]:
df["pizza_name"].unique()

array(['The Hawaiian Pizza', 'The Classic Deluxe Pizza',
       'The Five Cheese Pizza', 'The Italian Supreme Pizza',
       'The Mexicana Pizza', 'The Thai Chicken Pizza',
       'The Prosciutto and Arugula Pizza', 'The Barbecue Chicken Pizza',
       'The Greek Pizza', 'The Spinach Supreme Pizza',
       'The Green Garden Pizza', 'The Italian Capocollo Pizza',
       'The Spicy Italian Pizza', 'The Spinach Pesto Pizza',
       'The Vegetables + Vegetables Pizza', 'The Southwest Chicken Pizza',
       'The California Chicken Pizza', 'The Pepperoni Pizza',
       'The Chicken Pesto Pizza', 'The Big Meat Pizza',
       'The Soppressata Pizza', 'The Four Cheese Pizza',
       'The Napolitana Pizza', 'The Calabrese Pizza',
       'The Italian Vegetables Pizza', 'The Mediterranean Pizza',
       'The Pepper Salami Pizza', 'The Spinach and Feta Pizza',
       'The Sicilian Pizza', 'The Chicken Alfredo Pizza',
       'The Pepperoni, Mushroom, and Peppers Pizza',
       'The Brie Carre Pizza'], dtype=object)

In [13]:
df["pizza_ingredients"].unique()

array(['Sliced Ham, Pineapple, Mozzarella Cheese',
       'Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon',
       'Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic',
       'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic',
       'Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic',
       'Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce',
       'Prosciutto di San Daniele, Arugula, Mozzarella Cheese',
       'Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce',
       'Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions',
       'Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese',
       'Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese',
       'Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano',
       'Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic',
       'Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce',
       'Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic',
       'Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce',
       'Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese',
       'Mozzarella Cheese, Pepperoni',
       'Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce',
       'Bacon, Pepperoni, Italian Sausage, Chorizo Sausage',
       'Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic',
       'Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic',
       'Tomatoes, Anchovies, Green Olives, Red Onions, Garlic',
       '?duja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic',
       'Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce',
       'Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions',
       'Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic',
       'Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic',
       'Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic',
       'Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce',
       'Pepperoni, Mushrooms, Green Peppers',
       'Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic'],
      dtype=object)

In [23]:
df_cat = df.groupby("pizza_category")["unit_price"].agg(["mean", "min", "max", "median", "count"]).round(2)
df_cat

                 mean    min    max  median  count
pizza_category
Chicken         17.71  12.75  20.75   16.75  10815
Classic         14.80   9.75  35.95   13.25  14579
Supreme         17.36  12.25  23.65   16.50  11777
Veggie          16.61  12.00  21.00   16.75  11449

In [31]:
df_cat = df.groupby("pizza_name")["unit_price"].agg(["mean", "min", "max", "median", "count"]).round(2).sort_values(by="count", ascending=False)
df_cat

                                             mean    min    max  median  count
pizza_name
The Classic Deluxe Pizza                    15.58  12.00  20.50   16.00   2416
The Barbecue Chicken Pizza                  17.57  12.75  20.75   16.75   2372
The Hawaiian Pizza                          13.32  10.50  16.50   13.25   2370
The Pepperoni Pizza                         12.47   9.75  15.25   12.50   2369
The Thai Chicken Pizza                      18.29  12.75  20.75   20.75   2315
The California Chicken Pizza                17.45  12.75  20.75   16.75   2302
The Spicy Italian Pizza                     18.10  12.50  20.75   20.75   1887
The Sicilian Pizza                          15.96  12.25  20.25   16.25   1887
The Southwest Chicken Pizza                 18.08  12.75  20.75   20.75   1885
The Four Cheese Pizza                       16.95  14.75  17.95   17.95   1850
The Italian Supreme Pizza                   17.77  12.50  20.75   16.50   1849
The Big Meat Pizza                          12.00  12.00  12.00   12.00   1811
The Vegetables + Vegetables Pizza           15.98  12.00  20.25   16.00   1510
The Mexicana Pizza                          18.02  12.00  20.25   20.25   1456
The Napolitana Pizza                        16.44  12.00  20.50   16.00   1451
The Spinach and Feta Pizza                  16.08  12.00  20.25   16.00   1432
The Prosciutto and Arugula Pizza            16.58  12.50  20.75   16.50   1428
The Pepper Salami Pizza                     17.64  12.50  20.75   16.50   1422
The Italian Capocollo Pizza                 17.43  12.00  20.50   20.50   1414
The Greek Pizza                             20.04  12.00  35.95   20.50   1406
The Five Cheese Pizza                       18.50  18.50  18.50   18.50   1359
The Pepperoni, Mushroom, and Peppers Pizza  13.87  11.00  17.50   14.50   1342
The Green Garden Pizza                      14.00  12.00  20.25   12.00    987
The Chicken Alfredo Pizza                   17.12  12.75  20.75   16.75    980
The Italian Vegetables Pizza                16.34  12.75  21.00   16.75    975
The Chicken Pesto Pizza                     17.15  12.75  20.75   16.75    961
The Soppressata Pizza                       17.08  12.50  20.75   16.50    957
The Spinach Pesto Pizza                     16.08  12.50  20.75   16.50    957
The Spinach Supreme Pizza                   16.09  12.50  20.75   16.50    940
The Calabrese Pizza                         17.01  12.25  20.25   16.25    927
The Mediterranean Pizza                     16.43  12.00  20.25   16.00    923
The Brie Carre Pizza                        23.65  23.65  23.65   23.65    480

In [45]:
print(df.columns)
df_orders = pd.DataFrame(df[["order_id", "order_date" ,"order_time"]].groupby("order_id").value_counts())
df_orders.drop(columns=["count"], inplace=True)
df_orders.to_csv('orders.csv')
df_orders

Index(['pizza_id', 'order_id', 'pizza_name_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

Empty DataFrame
Columns: []
Index: [(1.0, 1/1/2015, 11:38:36), (2.0, 1/1/2015, 11:57:40), (3.0, 1/1/2015, 12:12:28), (4.0, 1/1/2015, 12:16:31), (5.0, 1/1/2015, 12:21:30), (6.0, 1/1/2015, 12:29:36), (7.0, 1/1/2015, 12:50:37), (8.0, 1/1/2015, 12:51:37), (9.0, 1/1/2015, 12:52:01), (10.0, 1/1/2015, 13:00:15), (11.0, 1/1/2015, 13:02:59), (12.0, 1/1/2015, 13:04:41), (13.0, 1/1/2015, 13:11:55), (14.0, 1/1/2015, 13:14:19), (15.0, 1/1/2015, 13:33:00), (16.0, 1/1/2015, 13:34:07), (17.0, 1/1/2015, 13:53:00), (18.0, 1/1/2015, 13:57:08), (19.0, 1/1/2015, 13:59:09), (20.0, 1/1/2015, 14:03:08), (21.0, 1/1/2015, 14:14:29), (22.0, 1/1/2015, 14:16:26), (23.0, 1/1/2015, 14:19:03), (24.0, 1/1/2015, 14:23:01), (25.0, 1/1/2015, 14:44:44), (26.0, 1/1/2015, 14:54:26), (27.0, 1/1/2015, 15:11:17), (28.0, 1/1/2015, 15:35:46), (29.0, 1/1/2015, 15:41:01), (30.0, 1/1/2015, 15:41:25), (31.0, 1/1/2015, 15:50:18), (32.0, 1/1/2015, 15:53:18), (33.0, 1/1/2015, 15:54:08), (34.0, 1/1/2015, 16:21:21), (35.0, 1/1/2015, 16:32:04), (36.0, 1/1/2015, 16:54:09), (37.0, 1/1/2015, 16:56:09), (38.0, 1/1/2015, 17:03:00), (39.0, 1/1/2015, 17:07:23), (40.0, 1/1/2015, 17:14:36), (41.0, 1/1/2015, 17:15:20), (42.0, 1/1/2015, 17:28:09), (43.0, 1/1/2015, 17:38:34), (44.0, 1/1/2015, 17:54:20), (45.0, 1/1/2015, 17:55:48), (46.0, 1/1/2015, 18:25:51), (47.0, 1/1/2015, 18:26:34), (48.0, 1/1/2015, 18:26:42), (49.0, 1/1/2015, 18:33:00), (50.0, 1/1/2015, 18:41:01), (51.0, 1/1/2015, 18:48:28), (52.0, 1/1/2015, 18:53:02), (53.0, 1/1/2015, 18:54:17), (54.0, 1/1/2015, 19:01:45), (55.0, 1/1/2015, 19:03:19), (56.0, 1/1/2015, 19:07:00), (57.0, 1/1/2015, 19:10:51), (58.0, 1/1/2015, 19:30:40), (59.0, 1/1/2015, 19:40:08), (60.0, 1/1/2015, 20:05:16), (61.0, 1/1/2015, 20:08:43), (62.0, 1/1/2015, 20:50:16), (63.0, 1/1/2015, 20:51:42), (64.0, 1/1/2015, 20:52:08), (65.0, 1/1/2015, 21:16:00), (66.0, 1/1/2015, 21:47:55), (67.0, 1/1/2015, 22:03:40), (68.0, 1/1/2015, 22:07:32), (69.0, 1/1/2015, 22:12:13), (70.0, 2/1/2015, 11:38:51), (71.0, 2/1/2015, 11:40:50), (72.0, 2/1/2015, 11:57:25), (73.0, 2/1/2015, 11:58:56), (74.0, 2/1/2015, 12:01:12), (75.0, 2/1/2015, 12:10:15), (76.0, 2/1/2015, 12:21:17), (77.0, 2/1/2015, 12:22:46), (78.0, 2/1/2015, 12:28:14), (79.0, 2/1/2015, 12:29:11), (80.0, 2/1/2015, 12:35:38), (81.0, 2/1/2015, 12:40:01), (82.0, 2/1/2015, 12:45:51), (83.0, 2/1/2015, 12:53:27), (84.0, 2/1/2015, 13:13:41), (85.0, 2/1/2015, 13:34:49), (86.0, 2/1/2015, 13:40:31), (87.0, 2/1/2015, 14:01:02), (88.0, 2/1/2015, 14:10:08), (89.0, 2/1/2015, 14:30:19), (90.0, 2/1/2015, 15:08:48), (91.0, 2/1/2015, 15:14:43), (92.0, 2/1/2015, 15:17:02), (93.0, 2/1/2015, 15:29:31), (94.0, 2/1/2015, 16:17:16), (95.0, 2/1/2015, 16:18:04), (96.0, 2/1/2015, 16:21:20), (97.0, 2/1/2015, 16:45:33), (98.0, 2/1/2015, 17:18:18), (99.0, 2/1/2015, 17:45:42), (100.0, 2/1/2015, 17:46:17), ...]

[21350 rows x 0 columns]

In [50]:
duplicates = df_orders.duplicated().count()
duplicates

np.int64(0)